@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body
{
	font-family: 'Lato';
	background: #E5D9B6;
	scroll-behavior: smooth;
	text-align: center;
	margin: 0;
}

header
{
	position: sticky;
	top: 10px;
	margin: auto;
	background: #5F8D4E;
	width: calc(100% * 0.9);
	z-index: 100;
	border-radius: 22px;
	display: flex;
	justify-content: space-around;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

header a {
	color: white;
	text-decoration: none;
	font-size: 2em;
}

header a:hover
{
	color: #E5D9B6;
	transform: translateY(-4px);
	transition-duration: 0.5s;
}

header a:not(:hover)
{
	transform: translateY(0);
	transition-duration: 0.5s;
}

.scroll
{
	scroll-margin-top: 80px;
}

#projectTile img
{
	float: none;
	margin: 0;
	border-radius: 0;
	width: 100%;
}

h2
{
	color: #285430;
}

#topBtn
{
	display: none;
	position: fixed;
	bottom: 30px;
	right: calc(100% * 0.055);
	width: 2em;
	height: 2em;
	background-color: #5F8D4E;
	color: white;
	cursor: pointer;
	border-radius: 22px;
	font-size: 2em;
	border: 1px solid #E5D9B6;
	z-index: 1000;
}

#topBtn:hover div
{
	color: #E5D9B6;
	transform: translateY(-4px);
	transition-duration: 0.5s;
}

#topBtn:not(:hover) div
{
	transform: translateY(0);
	transition-duration: 0.5s;
}

footer
{
	position: absolute;
	left: 0;
	right: 0;
	background: #5F8D4E;
	color: white;
	padding: 1%;
}

footer > a
{
	font-size: 1em;
	color: white;
}

article {
	margin-left: 20%;
	margin-right: 20%;
	overflow: hidden;
}

.tile
{
	text-align: center;
	background: white;
	padding: 4%;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 22px;
	border: 1px solid #285430;
}

h1
{
	color: #285430;
	font-size: 3em;
	margin-bottom: 0;
}

p
{
	color: #285430;
	text-align: justify;
}

.photo
{
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #A4BE7B;
	border-radius: 22px;
}

.photoContent
{
	background-color: white;
	border-radius: 22px;
	transform: translate(10px, -10px);
	padding: 5%;
	overflow-y: auto;
}

.photoContent div
{
	display: inline;
	width: 50%;
}

.photoContent p
{
	text-align: justify;
}

.photoContent a
{
	color: #285430;
}

.photoContent a :hover
{
	color: #A4BE7B;
}

.photoContent a :visited
{
	color: #285430;
}

img
{
	float: left;
	width: 50%;
	border-radius: 22px;
	margin: 0 2em 1em 0;
}

i
{
	font-size: 1.5em;
	color: #285430;
}

.hidden
{
	opacity: 0;
	/*transform: translateX(100%);*/
	transition: 2s;
}

.show
{
	/*transform: translateX(0);*/
	opacity: 1;
}

.anim1 {
	transform: rotate(45deg) translateY(130%) translateX(30%);
	transition-duration: 1000ms;
}

.anim2 {
	opacity: 0;
	transition-duration: 1000ms;
}

.anim3 {
	transform: rotate(-45deg) translateY(-130%) translateX(30%);
	transition-duration: 1000ms;
}

.anim1Ret {
	transition-duration: 1000ms;
}

.anim2Ret {
	opacity: 1;
	transition-duration: 1000ms;
}

.anim3Ret {
	transition-duration: 1000ms;
}

#logo {
	display: none;
}



#menu {
	position: sticky;
	top: 8%;
	background-color: #A4BE7B;
	border: 1px solid #285430;
	border-radius: 5px;
	width: 70%;
	margin: auto;
	font-size: 1.5em;
	padding: 5%;
	display: none;
	z-index: 4;
}

#menu a {
	display: table;
	color: white;
	text-decoration: none;
}


#menu a :hover {
	transform: translateX(10px);
	color: #E5D9B6;
}

.menuAnim {
	display: block !important;
	transform: translateY(20%);
	transition-duration: 1000ms;
}

.menuAnimRet {
	display: none !important;
	transform: translateY(-150%);
	transition-duration: 1000ms;
}

#hamburger {
	cursor: pointer;
}

@media only screen and (max-width: 1414px){
	.pustulka {
		width: 30%;
	}
}

@media only screen and (max-width: 1015px){
	.img {
		width: 100%;
		margin-right: 0;
	}
}

@media only screen and (max-width: 1162px){
	.gwiazda {
		width: 40%;
	}
}

@media only screen and (max-width: 1156px){
	.tarczownica {
		width: 40%;
	}
}

@media only screen and (max-width: 975px){
	.small {
		float: none;
		width: 100%;
	}
}

@media only screen and (max-width: 700px){
	h1 {
		font-size: 2em;
	}
	i {
		font-size: 1em;
	}
	header a {
		display: none;
	}
	article {
		margin-left: 10%;
		margin-right: 10%;
	}
	header {
		text-align: right;
	}
	#logo {
		display: inline;
		border-radius: 5px;
		margin: 0;
		width: 10%;
		transform: translateX(-150%);
	}
	#hamburger {
		background-color: #5F8D4E;
		display: unset;
		width: 10%;
		transform: translateX(150%);
	}
	#hamburger div {
		background-color: white;
		color: white;
		height: 14%;
		margin: 14%;
		border-radius: 22px;
	}
	.scroll {
		scroll-margin-top: 250px;
	}
}