@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body
{
	font-family: 'Lato';
	background: #E5D9B6;
	scroll-behavior: smooth;
	text-align: center;
}

header
{
	position: sticky;
	top: 10px;
	margin: auto;
	background: #5F8D4E;
	width: calc(100% * 0.9);
	z-index: 100;
	border-radius: 22px;
	display: flex;
	justify-content: space-around;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

header a {
	color: white;
	text-decoration: none;
	font-size: 2em;
}

header a:hover
{
	color: #E5D9B6;
	transform: translateY(-4px);
	transition-duration: 0.5s;
}

header a:not(:hover)
{
	transform: translateY(0);
	transition-duration: 0.5s;
}

.scroll
{
	scroll-margin-top: 80px;
}

#topBtn
{
	display: none;
	position: fixed;
	bottom: 30px;
	right: calc(100% * 0.055);
	width: 2em;
	height: 2em;
	background-color: #5F8D4E;
	color: white;
	cursor: pointer;
	border-radius: 22px;
	font-size: 2em;
	border: 1px solid #E5D9B6;
	z-index: 1000;
}

#topBtn:hover div
{
	color: #E5D9B6;
	transform: translateY(-4px);
	transition-duration: 0.5s;
}

#topBtn:not(:hover) div
{
	transform: translateY(0);
	transition-duration: 0.5s;
}
/*
#nav
{
	position: fixed;
	top: 100px;
	right: 20px;
	background-color: #5F8D4E;
	border-radius: 22px;
}

#nav a
{
	display: block;
	color: white;
	margin: 1em;
}*/

footer
{
	position: absolute;
	left: 0;
	right: 0;
	background: #5F8D4E;
	color: white;
	padding: 1%;
}

footer > a
{
	font-size: 1em;
	color: white;
}

article {
	margin-left: 20%;
	margin-right: 20%;
	overflow: hidden;
}

.tile
{
	text-align: center;
	background: white;
	padding: 4%;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 22px;
	border: 1px solid #285430;
}

h1
{
	color: #285430;
	font-size: 3em;
	margin-bottom: 0;
}

p
{
	color: #285430;
	text-align: justify;
}

.photo
{
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #A4BE7B;
	border-radius: 22px;
}

.photoContent
{
	background-color: white;
	border-radius: 22px;
	transform: translate(10px, -10px);
	padding: 5%;
	overflow-y: auto;
}

.photoContent div
{
	display: inline;
	width: 50%;
}

.photoContent p
{
	text-align: justify;
}

.photoContent a
{
	color: #285430;
}

.photoContent a :hover
{
	color: #A4BE7B;
}

.photoContent a :visited
{
	color: #285430;
}

img
{
	float: left;
	width: 50%;
	border-radius: 22px;
	margin: 0 2em 1em 0;
}

i
{
	font-size: 1.5em;
	color: #285430;
}

.hidden
{
	opacity: 0;
	/*transform: translateX(100%);*/
	transition: 2s;
}

.show
{
	/*transform: translateX(0);*/
	opacity: 1;
}