@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body
{
	font-family: 'Lato';
	background: rgb(229, 217, 182);
	scroll-behavior: smooth;
	text-align: center;
}

header
{
	position: sticky;
	top: 10px;
	margin: auto;
	background: #5F8D4E;
	width: calc(100% * 0.9);
	z-index: 100;
	border-radius: 22px;
	display: flex;
	justify-content: space-around;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

header a {
	color: white;
	text-decoration: none;
	font-size: 2em;
}

header a:hover
{
	color: #E5D9B6;
	transform: translateY(-8px);
	transition-duration: 0.5s;
}

header a:not(:hover)
{
	transform: translateY(-2px);
	transition-duration: 0.5s;
}

#topBtn
{
	display: none;
	position: fixed;
	bottom: 30px;
	right: calc(100% * 0.055);
	width: 2em;
	height: 2em;
	background-color: #5F8D4E;
	color: white;
	cursor: pointer;
	border-radius: 22px;
	font-size: 2em;
	border: 1px solid #E5D9B6;
}

#topBtn:hover div
{
	color: #E5D9B6;
	transform: translateY(-10px);
	transition-duration: 0.5s;
}

#topBtn:not(:hover) div
{
	transform: translateY(-3px);
	transition-duration: 0.5s;
}

/*
article {
	margin-top: 5%;
}

h1
{
	color: rgb(40, 84, 48);
	font-size: 2em
}

footer
{
	background-color: rgb(40, 84, 48);
	color: white;
	padding: 1%;
	margin: 1em;
}

footer > a
{
	font-size: 1em;
}

#content {
	padding-left: 17%;
	padding-right: 17%;
}

img {
	width: 100%;
}

.description {
	text-align: left;
	margin-left: 15px;
	font-weight: normal;
}

.tile
{
	text-align: center;
	background: white;
	padding: 4%;
	margin-bottom: 5%;
	border-radius: 10px;
}

.selected {
	border-bottom-style: solid;
}

.anim
{
	animation-name: show;
	animation-duration: 3s;
}


*/

/*

@keyframes show
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

@keyframes hide
{
	from
	{
		opacity: 1;
	}

	to
	{
		opacity: 0;
	}
}
*/