@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

p
{
	font-family: 'Lato';
}

#map {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

#image {
	max-height: 100px;
}